<h1>Blogs#create</h1>
<p>Find me in app/views/blogs/create.html.erb</p>

 <div class="contents row">
    <div class="success">
      <h3>
        作成が完了しました。
      </h3>
      <a class="btn" href="/blogs">投稿一覧へ戻る</a>
    </div>
  </div>
