<h1>Blogs#destroy</h1>
<p>Find me in app/views/blogs/destroy.html.erb</p>

  <div class="contents row">
    <div class="success">
      <h3>
        削除が完了しました。
      </h3>
      <a class="btn" href="/">投稿一覧へ戻る</a>
    </div>
  </div>
