<h1>Blogs#new</h1>
<p>Find me in app/views/blogs/new.html.erb</p>

<div class="contents row">
  <div class="container">
  <%= form_tag('/blogs', method: :post) do %>
    <h3>
      作成する
    </h3>
    <textarea cols="30" name="title" placeholder="title" rows="10"></textarea>
    <textarea class="bloginvent" cols="30" name="content" placeholder="text" rows="10"></textarea>
    <input type="submit" value="SENT">
  <% end %>
  </div>
</div>

 <a href="/">戻る</a>
